.Flip {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center;
}

.Flip h1 {
    margin-bottom: 20px; 
}

.Flip button {
    margin-top: 20px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}